/* Set the default style for the entire document */
body {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
    background-color: #88b6e7;
    background: radial-gradient(circle at 85%, #c7d1db, #a5c3e4, #85b4e7);
}

/* Left-side menu styles */
.menu {
    width: 65px; /* Initial width of the menu */
    background-color: #88b6e7;
    height: 100vh; /* Set the height of the menu to cover the entire window */

    /* Hide horizontal overflow content + keep the position fixed */
    overflow-x: hidden;
    position: fixed;
    transition: width 0.5s;
}

/* Expanded menu width */
.menu.open {
    width: 250px;
    background-color: #00587a;
}

/* Styles for links inside the menu */
.menu a {
    padding: 18px;
    text-decoration: none; 
    font-size: 22px;
    display: block;
    opacity: 0; /* Initially hide the menu items */
    text-align: center;
}

.menu a:first-child {
    margin-top: 160px;
}

/* Show links on hover and highlight them */
.menu.open a {
    color: white;
    opacity: 1; /* Show the menu items when the menu is open */
}

/* Highlight links on hover */
.menu a:hover {
    background-color: white;
    color: black;
}

/* Additional text styles */
.titleText {
    font-size: 16px; /* Set the font size for the small text */
    color: white;
    position: fixed;
    top: 215px;
    left: 180px;
    transition: margin-left 0.5s; /* Add transition property for smooth animation */
}

/* Adjust content area margin when the menu is expanded */
.titleText.open {
    margin-left: 170px; /* Adjusted margin for the open menu */
}

/* Content styles */
.content {
    padding: 20px;
    margin-left: 30px; /* Adjusted margin for the initial menu width */
    transition: margin-left 0.5s;
    color: white;
}

/* Apply styles only to paragraph text */
.content p {
    text-align: left;
    font-size: 56px;
    margin-top: 40px;
    margin-left:125px;
    margin-bottom: 20px;
    transition: margin 0.5s ease-in-out; /* Add a transition for the margin property */
}

/* Adjust content area margin when the menu is expanded */
.content.open {
    margin-left: 200px; /* Adjusted margin for the open menu */
}

/* Image container styles */
#frontGraphic {
    position: relative;
    margin-left: 1250px; /* Adjust the spacing between image and text */
    margin-top: -300px;
}

/* Button styles */
#toggleMenuButton {
    position: fixed;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #88b6e7;
    border: none;
    cursor: pointer;
    z-index: 1;
}

/* Add a new class for the pressed state */
#toggleMenuButton.pressed {
    background-color: #00587a;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img.blink {
    width: 60px;
    height: 60px;
    animation: blink 1.25s;
    animation-iteration-count: infinite;
    position: fixed;
    bottom: 0;
    left: 47.5%;
}
