/* Left-side menu styles */
.menu {
    visibility: hidden;
    opacity: 0;
    top: 0px;
    width: 65px; /* Initial width of the menu */
    height: 100vh; /* Set the height of the menu to cover the entire window */
    
    /* Hide horizontal overflow content + keep the position fixed */
    overflow-x: hidden;
    position: fixed;
    transition: width 0.5s ease-in-out, visibility 0.5s;
}

/* Expanded menu width */
.menu.open {
    visibility: visible;
    opacity: 1;
    width: 250px;
    background-color: #00587a;
    transition: width 0.5s ease-in-out, visibility 0.5s;
}

/* Styles for links inside the menu */
.menu a {
    padding: 18px;
    text-decoration: none; 
    font-family: Franklin Gothic Light;
    font-size: 22px;
    font-weight: bold;
    display: block;
    opacity: 0; /* Initially hide the menu items */
    text-align: center;
}

.menu a:first-child {
    margin-top: 160px;
}

/* Show links on hover and highlight them */
.menu.open a {
    color: white;
    opacity: 1; /* Show the menu items when the menu is open */
}

/* Highlight links on hover */
.menu a:hover {
    background-color: white;
    color: black;
}

/* Additional text styles */
.titleText {
    font-size: 16px; /* Set the font size for the small text */
    font-family: Franklin Gothic Light;
    font-weight: lighter;
    color: white;
    position: relative;
    top: 260px;
    left: 180px;
    transition: margin-left 0.5s; /* Add transition property for smooth animation */
}

/* Adjust content area margin when the menu is expanded */
.titleText.open {
    margin-left: 170px; /* Adjusted margin for the open menu */
}

/* Content styles */
.content {
    margin-top: 11%;
    padding: 20px;
    font-family: Franklin Gothic Light;
    font-weight: bold;
    margin-left: 30px; /* Adjusted margin for the initial menu width */
    transition: margin-left 0.5s;
    color: white;
}

/* Apply styles only to paragraph text */
.content p {
    text-align: left;
    font-size: 56px;
    margin-top: 40px;
    margin-left:125px; 
    margin-bottom: 20px;
    transition: margin 0.5s ease-in-out;
}

.content.open {
    margin-left: 200px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.toggleMenu {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.pressed {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    outline: none; 
    box-shadow: none;
    z-index: 2;
}

.frontGraphic {
    position: relative;
    margin-left: -100px; 
    margin-top: 0px;
}

.DisplayJobsContent {
    margin-left: 1.5%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px; 
    justify-content: center;
    align-items: start;
    height: 100vh; /* Set the container height to the full viewport height */
  }


  .DisplayJobsContentLeft {
    margin-left: 1.5%;
    display: grid;
    gap: 10px; 
    justify-content: left;
    align-items: start;
    height: 100vh; /* Set the container height to the full viewport height */
  }

  .DisplayJobsContentMiddle {
    margin-left: 1.5%;
    display: table-column;
    grid-template-columns: 1;
    gap: 10px; 
    justify-content: center;
    align-items: start;
    height: 100vh; /* Set the container height to the full viewport height */
  }

  .DisplayJobsContentRight {
    margin-left: 1.5%;
    display: grid;
    grid-template-columns: 1;
    gap: 10px; 
    justify-content: right;
    align-items: start;
    height: 100vh; /* Set the container height to the full viewport height */
  }

  .JobInfo {
    display: inline-block;
    width: calc(33.33% - 16px);
    height: auto;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  /* Adjust the styles for the embedded content within each post */
  .JobInfo iframe,
  .JobInfo a {
    width: 100%;
    height: 400px;
    border: none;
    max-width: 605px;
    min-width: 50px;
    overflow: hidden;
  }

  .CenteredHeading {
    text-align: center;
    width: 100%;
  }