/* Left-side menu styles */
.menu {
    visibility: hidden;
    opacity: 0;
    top: 0px;
    width: 65px; /* Initial width of the menu */
    height: 100vh; /* Set the height of the menu to cover the entire window */
    
    /* Hide horizontal overflow content + keep the position fixed */
    overflow-x: hidden;
    position: fixed;
    transition: width 0.5s ease-in-out, visibility 0.5s;
}

/* Expanded menu width */
.menu.open {
    visibility: visible;
    opacity: 1;
    width: 250px;
    background-color: #00587a;
    transition: width 0.5s ease-in-out, visibility 0.5s;
}

/* Styles for links inside the menu */
.menu a {
    padding: 18px;
    text-decoration: none; 
    font-family: Franklin Gothic Light;
    font-size: 22px;
    font-weight: bold;
    display: block;
    opacity: 0; /* Initially hide the menu items */
    text-align: center;
}

.menu a:first-child {
    margin-top: 160px;
}

/* Show links on hover and highlight them */
.menu.open a {
    color: white;
    opacity: 1; /* Show the menu items when the menu is open */
}

/* Highlight links on hover */
.menu a:hover {
    background-color: white;
    color: black;
}

/* Additional text styles */
.titleText {
    font-size: 16px; /* Set the font size for the small text */
    font-family: Franklin Gothic Light;
    font-weight: lighter;
    color: white;
    position: relative;
    top: 260px;
    left: 180px;
    transition: ease-in-out 0.5s; /* Add transition property for smooth animation */
}

/* Adjust content area margin when the menu is expanded */
.titleText.open {
    margin-left: 170px; /* Adjusted margin for the open menu */
}

/* Content styles */
.content {
    margin-top: 11%;
    padding: 20px;
    font-family: Franklin Gothic Light;
    font-weight: bold;
    margin-left: 30px; /* Adjusted margin for the initial menu width */
    transition: ease-in-out 0.5s;
    color: white;
}

/* Apply styles only to paragraph text */
.content p {
    text-align: left;
    font-size: 56px;
    margin-top: 40px;
    margin-left:125px; 
    margin-bottom: 20px;
}

.content.open {
    margin-left: 200px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.toggleMenu {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #88b6e7;
    border: none;
    z-index: 2;
}

.pressed {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #00587a;
    outline: none; 
    box-shadow: none;
    z-index: 2;
}

.frontGraphic {
    position: relative;
    margin-left: -145px; 
    margin-top: 25px;
}

.DisplayJobsContent {
    margin-left: 300px; 
}

/* New styles for DisplayPage component */
.QuizPage {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    border-radius: 100px;
    transition: margin-left 0.5s ease-in-out; 
}

/* New styles for DisplayPage component */
.QuizPage.open {
    margin-left: 180px; 
}

.box {
    display: flex;
    margin-left: 125px;
    padding-left: 25px;
    width: 58%;
    height: 135px; 
    background-color: #c6ddf7; 
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: bold;
}

.box:hover {
    background-color: #b8d4f3; /* Background color on hover */
}

/* quiz button styles */
.quizButton {
    position: fixed;
    padding: 12px 20px;
    font-weight: bold;
    color: white;
    left: 58%;
    background-color: #88b6e7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: margin-left 0.5s ease-in-out; 
}

/* quiz button styles */
.quizButton.open {
    margin-left: 75px;
}

/* quiz image styles */
.quizImage {
    width: 75px; 
    height: 75px; 
    margin-right: 30px; 
    border-radius: 20%;
    object-fit: cover;  
}

.quizChecklist {
    position: absolute;
    left: 68%;
    height: 355px;
    width: 350px;
    padding: 10px;
    background-color: #c6ddf7; 
    border-radius: 15px;
    transition: ease-in-out 0.5s;
}

.quizChecklist div {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
}

.quizChecklist input[type="checkbox"] {
    width: 50px;
    margin-right: 7px;
    transform: scale(1.2); 
    clip-path: circle(30%);
}

.quizChecklist.open {
    margin-left: 75px;
}

.quizHeading {
    font-size: 28px;
    margin-top: -730px;
    margin-left: 130px; 
}

.progressHeading {
    font-size: 28px; 
    margin-top: -50px;
    margin-left: 1310px;
    transition: ease-in-out 0.5s;
}

.progressHeading.open {
    margin-left: 1205px;
}

.quizProgress {
    position: absolute;
    left: 68%;
    height: 265px;
    width: 350px;
    top: 515px;
    padding: 10px;
    background-color: #c6ddf7; 
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.quizProgress progress {
    margin-top: 90px;
    margin-left: 52px;
    width: 80%;
    height: 65px;
}

.quizProgress p {
    font-size: 18px;
    margin-top: -140px;
    margin-bottom: 58px;
    margin-left: 23px;
}

.quizProgress.open {
    margin-left: 75px;
}

.completedPercentage {
    font-size: 18px;
    margin-left: 5px;
}