/* Left-side menu styles */
.menu {
    visibility: hidden;
    opacity: 0;
    top: 0px;
    width: 65px; /* Initial width of the menu */
    height: 100vh; /* Set the height of the menu to cover the entire window */
    
    /* Hide horizontal overflow content + keep the position fixed */
    overflow-x: hidden;
    position: fixed;
    transition: width 0.5s ease-in-out, visibility 0.5s;
}

/* Expanded menu width */
.menu.open {
    visibility: visible;
    opacity: 1;
    width: 250px;
    background-color: #00587a;
    transition: width 0.5s ease-in-out, visibility 0.5s;
}

/* Styles for links inside the menu */
.menu a {
    padding: 18px;
    text-decoration: none; 
    font-family: Franklin Gothic Light;
    font-size: 22px;
    font-weight: bold;
    display: block;
    opacity: 0; /* Initially hide the menu items */
    text-align: center;
}

.menu a:first-child {
    margin-top: 160px;
}

/* Show links on hover and highlight them */
.menu.open a {
    color: white;
    opacity: 1; /* Show the menu items when the menu is open */
}

/* Highlight links on hover */
.menu a:hover {
    background-color: white;
    color: black;
}

/* Additional text styles */
.titleText {
    font-size: 16px; /* Set the font size for the small text */
    font-family: Franklin Gothic Light;
    font-weight: lighter;
    color: white;
    position: relative;
    top: 260px;
    left: 180px;
    transition: ease-in-out 0.5s; /* Add transition property for smooth animation */
}

/* Adjust content area margin when the menu is expanded */
.titleText.open {
    margin-left: 170px; /* Adjusted margin for the open menu */
}

/* Content styles */
.content {
    margin-top: 11%;
    padding: 20px;
    font-family: Franklin Gothic Light;
    font-weight: bold;
    margin-left: 30px; /* Adjusted margin for the initial menu width */
    transition: ease-in-out 0.5s;
    color: white;
}

/* Apply styles only to paragraph text */
.content p {
    text-align: left;
    font-size: 56px;
    margin-top: 40px;
    margin-left:125px; 
    margin-bottom: 20px;
}

.content.open {
    margin-left: 200px;
}

.toggleMenu {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.pressed {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    outline: none; 
    box-shadow: none;
    z-index: 2;
}

.frontGraphic {
    position: relative;
    margin-left: -145px; 
    margin-top: 25px;
}

.DisplayJobsGrid {
    display: grid;
    grid-auto-rows: 500px;
    margin-left: 350px;
    margin-right: 50px;
    gap: 10px; 
    justify-content: center;
    align-items: center;
  }

.DisplayJobsContent {
    display: grid;
    grid-template-columns: repeat(3, calc((100% / 3) - 30px));
    margin-top: 10000px;
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    gap: 10px; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
/* filter: blur(3px) */
  .DisplayJobsItem {
    margin-top: 50px;
    margin-bottom: 70px;
    width: 600px;
    justify-content: left;
    align-items: start;
    height: 400px;
  }

  .DisplayJobsContentLI {
    width: 600px;
    justify-content: left;
    align-items: start;
    overflow: hidden;
    height: 400px;
  }


  .DisplayJobsContentTiktok{
    height: 800px;
   grid-row: span 2;
  }

  .DisplayJobsContentYoutube{
    margin-top: -10px;
    width: 600px;
    grid-column: span 2;
    grid-row: span 2;
  }
  

  .JobInfo {
    display: inline-block;
    width: calc(33.33% - 16px);
    height: auto;
    box-sizing: border-box;
  }
  
  /* Adjust the styles for the embedded content within each post */
  .JobInfo iframe,
  .JobInfo a {
    width: 100%;
    height: 300px;
    border: none;
    max-width: 605px;
    min-width: 50px;
    overflow: hidden;
  }

  .CenteredHeading {
    text-align: center;
    width: 100%;
  }

/* New styles for DisplayPage component */
.QuizPage {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    transition: margin-left 0.5s ease-in-out;
    position: relative; 
}

/* New styles for DisplayPage component */
.QuizPage.open {
    margin-left: 180px; 
}

.box {
    margin: 0;
    margin-left: 125px;
    padding-left: 25px;
    width: 58%;
    height: 135px; 
    background-color: #c6ddf7; 
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.box:nth-child(5) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box:hover {
    background-color: #b8d4f3; /* Background color on hover */
}

/* quiz button styles */
.quizButton {
    position: absolute;
    padding: 12px 20px;
    font-weight: bold;
    color: white;
    left: 58%;
    background-color: #78a9df;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: margin-left 0.5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 4px 8px 0 rgba(0, 0, 0, 0.25); 
}

/* quiz image styles */
.quizImage {
    width: 75px; 
    height: 75px; 
    margin-right: 30px; 
    border-radius: 20%;
    object-fit: cover; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 4px 8px 0 rgba(0, 0, 0, 0.4); 
}

.quizChecklist {
    position: absolute;
    left: 68%;
    height: 355px;
    width: 350px;
    padding: 10px;
    background-color: #c6ddf7; 
    border-radius: 15px;
    transition: ease-in-out 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.quizChecklist div {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 18px;
}

.quizChecklist label {
    white-space: nowrap;
}

.quizChecklist input[type="checkbox"] {
    width: 50px;
    margin-right: 7px;
    transform: scale(1.2); 
    clip-path: circle(30%);
}

.quizChecklist.open {
    margin-left: 20px;
}

.quizHeading {
    color: #3e5eca;
    font-size: 28px;
    margin-top: -730px;
    margin-left: 130px; 
}

.progressHeading {
    color: #3e5eca;
    font-size: 28px; 
    margin-top: -50px;
    margin-left: 1310px;
    transition: 0.5s ease-in-out;
}

.progressHeading.open {
    margin-left: 1205px;
}

.quizProgress {
    position: absolute;
    left: 68%;
    height: 265px;
    width: 350px;
    top: 390px;
    padding: 10px;
    background-color: #c6ddf7; 
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.quizProgress progress {
    margin-top: 85px;
    margin-left: 15px;
    width: 92%;
    height: 80px;
}

.progressText {
    color: #3e5eca;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 20px;
}

.quizProgress p {
    font-weight: lighter;
    font-size: 18px;
    margin-top: -160px;
    margin-bottom: 70px;
    margin-left: 20px;
}

.quizProgress.open {
    margin-left: 20px;
}

.completedPercentage {
    font-size: 15px;
    margin-left: 165px;
}

.targetPhoto {
    position: relative;
    width: 205px;
    height: auto;
    margin-top: 250px;
    margin-left: 90%;
    transform: rotate(-20deg);
    transition: ease-in-out 0.5s;
    z-index: 1;
}

.targetPhoto.isPageLoaded {
    position: absolute;
    margin-top: 315px;
    margin-left: 82%;
}

.targetPhoto.open {
    margin-left: 84.5%;
}

.tableTitle {
    position: fixed;
    color: #3e5eca;
    font-size: 28px;
    margin-top: 125px;
    margin-left: 297px;
}


.tableSide {
    position: fixed;
    color: #3e5eca;
    font-size: 16px;
    margin-top: 145px;
    margin-left: 72%;
}